body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: whitesmoke;
}

h2 {
    text-align: center;
    margin: 20px;
    font-size: 2em;
    font-weight: bold;
    border-bottom: whitesmoke 1px solid;
}

#todoList {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #534653;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#addButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #856088;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addButton:hover {
    background-color: #221225;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.task span {
    flex: 1;
    font-size: 16px;
}

.task div {
    display: flex;
    gap: 10px;
}

.task button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.completeTask {
    background-color: #856088;
    color: #fff;
}

.completeTask:hover {
    background-color: #221225;
}

.deleteTask {
    background-color: #f44336;
    color: #fff;
}

.deleteTask:hover {
    background-color: #8d110f;
}
